.course_item {
    width: 20rem !important;
    height: 15rem !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.5) 0 3px 4px 0;
    margin-left: 2rem !important;
    padding: 20px 0 !important;
    z-index: 2 !important;
    /* overflow: hidden; */
}

.course_img {
    width: 8rem !important;
    height: 8rem !important;
}

.slick_list {
    padding: 20px 0 !important;
}